<div class="modal fade show d-block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Add new Employee</h1>
        <button class="btn-close" (click)="onCancleClick()"></button>
      </div>
      <form (ngSubmit)="onSubmitForm()">
        <div class="modal-body">
          <label for="name">Name:</label>
          <input
            type="text"
            name="text"
            id="name"
            class="form-control"
            [(ngModel)]="name"
          />
          <label for="number">Number:</label>
          <input
            type="number"
            name="number"
            id="number"
            class="form-control"
            [(ngModel)]="number"
          />
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            [(ngModel)]="email"
          />
          <label for="position">position:</label>
          <input
            type="text"
            name="position"
            id="position"
            class="form-control"
            [(ngModel)]="position"
          />
          <label>Gender : </label>
          <label for="male">Male</label
          ><input
            type="radio"
            name="gender"
            id="male"
            value="male"
            [(ngModel)]="gender"
          />
          <label for="female">female</label>
          <input
            type="radio"
            name="gender"
            id="female"
            value="female"
            [(ngModel)]="gender"
          />
          <br />
          <label for="aadhar">Aadhar number:</label>
          <input
            type="text"
            name="aadhar"
            id="aadhar"
            class="form-control"
            [(ngModel)]="aadhar"
          />
          <label for="address">Address:</label>
          <textarea
            name="address"
            id="address"
            class="form-control"
            [(ngModel)]="address"
          ></textarea>
          <select
            name="state"
            id="state"
            [(ngModel)]="state"
            (change)="onStateChange()"
          >
            <option selected disabled>select country</option>
            <option value="gujarat">Gujarat</option>
            <option value="maharashtra">maharashtra</option>
            <option value="rajasthan">rajasthan</option>
            <option vaule="bihar">bihar</option>
          </select>
          <select name="city" id="city" [(ngModel)]="city">
            <option selected disabled>select country</option>
            @for (city of selectedCityArray; track city) {
              <option [value]="city">{{ city }}</option>
            }
          </select>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="onCancleClick()"
          >
            cancle
          </button>
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
